<%= form_for(@conversion, url: '/conversions/show', method: :post ) do |f| %>
  <%= f.label :date, "Select date*: " %>
  <%= f.select :year, options_for_select(@years, @year) %>
  <%= f.select :month, options_for_select(@months, @month) %>
  <%= f.select :day, options_for_select(@days, @day) %>

  <%= f.hidden_field :date, :value=>:year %>

  <%= f.label :base, "Base:" %>
  <%= f.select :base, options_for_select(@currencies, @base) %>
  <%= f.label :counter, "Counter:" %>
  <%= f.select :counter, options_for_select(@currencies, @counter) %>
  <%= f.label :amount, "Amount:" %>
  <%= f.number_field :amount, step: 0.01 %>
  <%= f.submit("Convert") %>
<% end %>

<p>Last base: <%=@base%></p>
<p>Last counter: <%=@counter%></p>
<p>Last amount: <%=@amount%></p>
<p>Last date: <%=@date%></p>
<p>Converted Amount: <%=@counter + ' ' + @converted_amount%></p>
<p>Rate: <%=@rate%></p>

<p>*Earliest date for which records are available is <%=@start_date%>. If an invalid date, or the date of a non-working day is selected, the exchange rate from the nearest working day will be used.</p>
